
body {
	margin: 0; 
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#blue {
	background-color: #3b5998;
	margin: 0;
	color: white;
	display: inline-block;
	width: inherit;
}

#companyname {
	float: left;
	padding-left: 15%;
	font-size: large;
}

#login {
	float: right;
	padding-right: 15%;
	font-size: small;
}

#white {
	background-color: #dfe3ee;
	/*padding: 25px 50px;*/
	display: inline-block;
	width: 100%;
	overflow: auto;
}

#branding {
	float: left;
	padding: 3% 15%;
}

#branding h1 {
	font-size: x-large;
}

#branding p {
	margin: 50px 50px 0 0;
}

#signup {
	float: right;
}

.loginfields {
	display: inline-block;
	float: left;
	padding: 10px;
}

.loginfields a {
	color: #8b9dc3;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.button {
	cursor: pointer;
	background-color: #4e71ba;
	color: white;
	border: 1px solid #2f477a;
	margin-top: 30%;
}

.button:hover {
	background-color: #3b5998;
}