
body {
	margin: 0; 
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#blue {
	background-color: #3b5998;
	margin: 0;
	color: white;
	width: inherit;	
	display: inline-block;
	/*display: flex;*/
	float: left;
}

#white {
	background-color: #dfe3ee;
	/*padding: 25px 50px;*/
	width: 100%;
	display: inline-block;	
	/*display: flex;*/
	float: left;
}

#white label {
	font-weight: bold;
	color: gray;
}

#companyname {
	float: left;
	padding-left: 15%;
	font-size: large;
}

#login {
	float: right;
	padding-right: 15%;
	font-size: small;
}

#branding {
	float: left;
	padding: 3% 10%;
}

#branding h1 {
	font-size: x-large;
}

#branding p {
	margin: 50px 50px 0 0;
}

#signup {
	float: left;
}

#signup h1 {
	font-size: xx-large;
}

#textinput {
	width: max-content;
}

#birthday {
	margin: 20px 0 30px 0;
}

#tos {
	font-size: 11px;
	color: #696969;
}

#formsubmit {
	padding: 5px 55px;
	border-radius: 5px;
	background-color: #56953e;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.formtext {
	margin: 5px;
	padding: 10px;
	font-size: 18px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.shortwidth {
	width: 36%;
}

.longwidth {
	width: 80%;
	/*box-sizing: border-box;*/
}

.loginfields {
	display: inline-block;
	float: left;
	padding: 10px;
}

.loginfields a {
	color: #8b9dc3;
}

.dob {
	margin: 5px 0;
	padding: 5px 0;
	display: inline-block;
	float: left;
	border: 1px solid lightgrey;
}

.button {
	cursor: pointer;
	background-color: #4e71ba;
	color: white;
	border: 1px solid #2f477a;
	margin-top: 30%;
}

.button:hover {
	background-color: #3b5998;
}

::placeholder {
	color: #a6a6a6;
}