body {
	margin: 0;
}

#top_nav {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 0;
}

#search {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
}

#bottom_nav {
	position: fixed;
	bottom: 0;
	background-color: lightgray;
	width: 100%;
}

.listitem {
	display: inline-block;
	float: left;
	padding: 0 10px 10px;
}

.middle {
	display: block;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

a:link {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

input.middle {
	border-radius: 10px;
	width: 150%;
	border: 1px solid lightgray;
}

input.middle:focus {
	outline: none;
}