#top_nav {

}

#search {

}

#bottom_nav {
	/*background-color: lightgray;*/
}

.listitem {
	display: inline-block;
	float: left;
	padding: 10px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}