body {
	margin: 0;
}

#top_nav {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 0;
}

#search {
	position: fixed;
	left: 50%;
	transform: translate(-50%);
}

#search > *:not(:last-child) {
	margin-bottom: 25px;
}

#bottom_nav {
	position: fixed;
	bottom: 0;
	background-color: #f0f0f0;
	width: 100%;
}

#accounticon {
	border-radius: 50%; 
	border-width: 3px;
	border-style: solid;

	border-top-color: red;
	border-right-color: blue;
	border-bottom-color: green;
	border-left-color: yellow;
}

.listitem {
	display: inline-block;
	float: left;
	padding: 0 10px 10px;
	font-family: sans-serif;
	font-size: 14px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.middle {
	display: block;
}

i.fa-search {
	position: relative;
	left: -130px;
	top: 30px;
	color: lightgray;
}

i.fa-microphone {
	position: relative;
	right: -450px;
	top: -70px;
	color: steelblue;
}

a:link {
	text-decoration: none;
	color: #696969;
}

a:hover {
	text-decoration: underline;
}

img.middle {
	margin-top: 150px;
}

input.middle {
	border-radius: 25px;
	width: 200%;
	border: 1px solid lightgray;
	padding: 12px;
	margin-left: -150px;
	margin-top: -25px;
	font-size: 16px;
}

input.middle:focus {
	outline: none;
	text-indent: 40px;
}

button {
	padding: 10px 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	margin: 5px;
	color: #696969;
}

button:hover {
	cursor: pointer;
	border: 1px solid lightgray;
}

li {
	width: auto;
}