body {
	transform: scale(1.1);
	margin: 0;
	font-family: Segoe UI, Ariel, sans-serif;
	font-size: 14px;	
	background-color: #fafafa;
}

#left_blank {
	width: 15%;
	display: block;
	float: left;
}

#middle {
	width: 70%;
	/*background-color: red;*/
	display: block;
	float: left;
}

#right_blank {
	width: 15%;
	display: block;
	float: left;
}

#top_nav {
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: space-between;
	background-color: white;
	overflow: hidden;
}

#top_nav:before {
  content:"";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 8%;
  left: -100px;
  z-index: -1;
}

#top_nav:after {
	content:"";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 8%;
  left: 0px;
  z-index: -1;
}

#logo {
	/*background-color: blue;*/
	height: 50%;
	margin-top: 15px;
}

#search {
	background-color: #f8f8f8;
	border: 1px solid lightgray;
	border-radius: 4px;
	text-align: center;
	padding: 5px 35px;
	font-size: 14px;
	height: 50%;
	margin-top: 15px;
}

#search::placeholder {
	color: #a0a0a0;
}

#search:focus {
	outline: none;
}

#menu {
	margin: 0;
	padding: 0;
	/*background-color: yellow;*/
}

#scroll {
	display: inline-block;
	float: left;
	width: 65%;
	height: 1000px;
}

#stories {
	height: 125px;
	background-color: white;
	margin-top: 30px;
	border: 1px solid gainsboro;
}

#posts {
	height: max-content;
	background-color: white;
	margin-top: 30px;
	border: 1px solid gainsboro;
}

#sidebar {
	display: inline-block;
	float: left;
	position: sticky;
	top: 0;
}

#sidebar a:link {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

#profile {
	/*background-color: #f8f8f8;*/
	/*width: 106%;*/
	margin-top: 50px;
	margin-left: 30px;
}

#companyinfo ul li { display: inline; white-space: pre; }
#companyinfo ul li:after { content: " \00b7 "; }
#companyinfo ul li:last-child:after { content: ""; }

#suggestions {
	/*background-color: yellow;*/
	margin-left: 30px;
	width: 91.5%;
	height: 300px;
}

#suggestions p {
	margin: 0; 
	display: inline-block; 
	float: left; 
	font-weight: bold; 
	color: gray;
}

#modal_button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline-block; 
	float: right; 
	padding-top: 15px; 
	padding-right: 15px;
}

#post_comment input {
	display: inline-block; 
	float: left; 
	height: inherit; 
	border: none; 
	padding: 0 0 10px 10px;
}

#post_comment button {
	display: inline-block; 
	float: right; 
	height: inherit; 
	cursor: pointer; 
	font-weight: bold; 
	color: deepskyblue; 
	background-color: white; 
	border: none; 
	font-family: Segoe UI; 
	font-size: 14px;
}


.profile_text {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.menus {
	display: inline-block;
	float: left;
	padding: 10px 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.65); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 25%; /* Could be more or less, depending on screen size */
}

.vertical-menu a {
  background-color: white; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px 0; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  text-align: center;
}

/* Useful classes */
.floatleft {
	display: inline-block;
	float: left;
}

.floatright {
	display: inline-block;
	float: right;
}

.hidden {
	display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


ul li {
	font-family: sans-serif;
	font-size: 11px;
	color: gray;
}

i.fa-search {
	position: relative;
	left: 240px;
	top: 22px;
	color: silver;
}

hr {
	margin-top: 0;
	width: 100%;
	position: absolute;
	left: -1px;
	overflow: hidden;
	background-color: gainsboro; 
	height: 1px; 
	border: 0;
}

*:focus {
	outline: none;
}

::placeholder {
	color: gray;
	opacity: 0.9;
	font-family: Segoe UI, Ariel, sans-serif;
	font-size: 14px;
}