
#top_nav {
	width: 100%;
	/*background-color: red;*/
}

#logo {
	float: left;
}

#search {
	float: center;
}

#menu {
	float: right;
}

.blank {
	
}

.floatleft {
	display: inline-block;
	float: left;
}

.menus {
	display: inline-block;
	float: left;
	padding: 0 10px;
}

ul li {
	font-family: sans-serif;
	font-size: 11px;
	color: gray;
}

#companyinfo ul li { display: inline; white-space: pre; }
#companyinfo ul li:after { content: " \00b7 "; }
#companyinfo ul li:last-child:after { content: ""; }