body {
	margin: 0;
	font-family: Segoe UI, Ariel, sans-serif;
	font-size: 14px;	
	background-color: #fafafa;
}

#left_blank {
	width: 15%;
	display: block;
	float: left;
}

#middle {
	width: 70%;
	/*background-color: red;*/
	display: block;
	float: left;
}

#right_blank {
	width: 15%;
	display: block;
	float: left;
}

#top_nav {
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: space-between;
	background-color: white;
	overflow: hidden;
}

#top_nav:before {
  content:"";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 8%;
  left: -100px;
  z-index: -1;
}

#top_nav:after {
	content:"";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 8%;
  left: 0px;
  z-index: -1;
}

#logo {
	/*background-color: blue;*/
	height: 50%;
	margin-top: 15px;
}

#search {
	background-color: #f8f8f8;
	border: 1px solid lightgray;
	border-radius: 4px;
	text-align: center;
	padding: 5px 35px;
	font-size: 14px;
	height: 50%;
	margin-top: 15px;
}

#search::placeholder {
	color: #a0a0a0;
}

#search:focus {
	outline: none;
}

#menu {
	margin: 0;
	padding: 0;
	/*background-color: yellow;*/
}

#scroll {
	display: inline-block;
	float: left;
	width: 65%;
	height: 1000px;
}

#stories {
	height: 125px;
	background-color: white;
	margin-top: 30px;
	border: 1px solid gainsboro;
}

#posts {
	height: 1000px;
	background-color: white;
	margin-top: 30px;
	border: 1px solid gainsboro;
}

#sidebar {
	display: inline-block;
	float: left;
	/*background-color: whitesmoke;*/
}

#sidebar a:link {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

#profile {
	/*background-color: #f8f8f8;*/
	/*width: 106%;*/
	margin-top: 50px;
	margin-left: 30px;
}

#companyinfo ul li { display: inline; white-space: pre; }
#companyinfo ul li:after { content: " \00b7 "; }
#companyinfo ul li:last-child:after { content: ""; }

#suggestions {
	/*background-color: yellow;*/
	margin-left: 30px;
	width: 91.5%;
	height: 300px;
}

#suggestions p {
	margin: 0; 
	display: inline-block; 
	float: left; 
	font-weight: bold; 
	color: gray;
}


.profile_text {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.floatleft {
	display: inline-block;
	float: left;
}

.menus {
	display: inline-block;
	float: left;
	padding: 10px 5px;
}


ul li {
	font-family: sans-serif;
	font-size: 11px;
	color: gray;
}

i.fa-search {
	position: relative;
	left: 240px;
	top: 22px;
	color: silver;
}

hr {
	margin-top: 0;
	width: 100%;
	position: absolute;
	left: -1px;
	overflow: hidden;
	background-color: gainsboro; 
	height: 1px; 
	border: 0;
}